<launch>
    <arg name="port" default="/dev/ttyUSB0"/>
    <arg name="baud" default="115200"/>
    <arg name="rate" default="25"/>
    <arg name="name" default="/drivers/remote/signals"/>
    <arg name="device" default="remote"/>

    <node name="serial_com_remote_node" pkg="serial_com" type="serial_com" output="screen">
        <param name="port" value="$(arg port)"/>
        <param name="baud" value="$(arg baud)"/>
        <param name="node_rate" value="$(arg rate)"/>
        <param name="serial_info_topic_name" value="$(arg name)"/>
        <param name="device" value="$(arg device)" />
        
        <!-- <rosparam command="load" file="$(find serial_com)/config/serial_com.yaml" />  -->
        <!--Load parameters from config files-->
    </node>
</launch>
